.search {
  &-container {
    width: 130%;
    height: 75px;
    background-color: #323a45;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: center;
    top: 0;
    left: 15px;
    z-index: 4;
  }

  &-form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-input {
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
  }

  &-button {
    border: none;
    outline: none;
    background: #3f51b5;
    padding: 10px;
    height: 40px;
    width: 100px;
    border-left: 1px solId rgba(0, 0, 0, 0.3);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      color: #3f51b5;
      background-color: #fff;
      border: 1px solid #3f51b5;
    }
  }
}

.logo {
  margin-left: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}



.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}


.event {
  width: 280px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 );
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(200 152 44 );
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
